html{
    width: 100%;
    height: 100%;
}

body{
    background-color: cornflowerblue;
    background-image: ("bg.jpeg");
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bruh{
    background-color: aqua;
    width: 100%;
    height: 100%;
}