html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: cadetblue; */
    margin: 150px;
    text-align: center;
    background-image: url('bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-bottom: 10px; */

}