html{
    width: 100%;
    height: 100%;
}

body{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 150px;
    text-align: center;
}

